# Kconfig - ST Microelectronics STM32G070CB MCU
#
# Copyright (c) 2019 Philippe Retornaz <philippe@shapescale.com>
#
# SPDX-License-Identifier: Apache-2.0
#

if SOC_STM32G070CB

config SOC
	string
	default "stm32g070xx"

config NUM_IRQS
	int
	default 31

endif # SOC_STM32G070CB
